body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.top-menu {
  margin: 10px 5px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.top-menu-link {
  text-decoration: none;
  padding: 30px;
  color: #fff;
}
.top-menu-link:hover {
  text-decoration: underline;
}
.top-menu-link.active {
  color: red;
}
