body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #7ea8fc;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header p {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
}
.top-menu {
  margin: 10px 5px;
  padding: 10px;
}
.top-menu-link {
  text-decoration: none;
  padding: 30px;
  color: #fff;
  padding-bottom: 16px;
}
.top-menu-link:hover {
  color: red;
  transition: color 0.2s ease-in;
}
.top-menu-link.active {
  color: red;
  border-bottom: 4px solid red;
}
.news-list {
  /* display: flex;
  flex-direction: column; */
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.news-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
}
.news-item-title {
  padding: 0 10px;
}
.news-item-title a {
  color: #000;
  text-decoration: none;
}
.news-item-title:visited {
  color: #000;
}
.news-item-content {
  /* display: flex;
  justify-content: space-between;
  margin-bottom: 50px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr;
}
.news-item-text {
  text-align: justify;
  padding: 0 10px;
}
.news-img-container {
  position: relative;
}
.news-item-img {
  max-height: 250px;
  max-width: 320px;
}
@media only screen and (min-device-width: 660px) and (max-device-width: 1024px) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 660px) {
  .news-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-menu-link {
    padding: 15px;
  }
  .news-item-title {
    font-size: 20px;
  }
  .news-item {
    grid-template-rows: 160px 1fr;
  }
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
}
.login-username,
.login-password,
.login-button {
  margin: 0 0 5px 0;
  padding: 15px;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.login-button {
  box-sizing: content-box;
  color: #fff;
  text-transform: uppercase;
  background: #007ddc;
}
.login-button:disabled {
  background: #ccc;
  color: #999;
}
.error-text {
  color: red;
}
